* {
    font-family: Gotham Book, Gotham Bold, Gotham Light;
    color: #333447;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.jumbotron {
    color: #F3F3F5;
    font-family: Gotham Book;
    height: 512px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    text-align: center;
}

.jumbotron h1 {
    align-items: center;
    font-size: 100px;
    color: #352384; /* blue */
}

.jumbotron small {
    color: #FF69B4;
    font-size: 64px;
    color: #333447;
}

.jumbotron small h1 {
    color: #FF69B4; /*hot pink */
    align-items: center;
}

small {
    color: #FF69B4;
}

.container {
    font-size: 24px;
    color: deepskyblue;
    text-align: center;

}

#eta_address {
    font-family: Gotham Light;
    color: #352384;
}

.row .span3 {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: center;
    position: relative;
    border-radius: 100px;
    border: 2px solid #FF00BF;
}

.row .span3:hover {
    background-color: #F3F3F5;
}

.span3 p {
    font-famly: Gothic Bold;
    line-height: 185px;
}

.footer {
    font-family: Gotham Light;
    color: #F3F3F5;
    background-color: #333447;
}

#circle_button {
    padding-left: 120px;
    color: hotpink;
}