<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Voice your Lyft</title>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/stylesheet.css'>
</head>
<body>
<!--- Can't change background color and centerize it
<section class='jumbotron' background-color = #FF69B4>
    <div class='container'>
        <a href='/'>
            <h1>Hermes <small>for Lyft</small></h1>
        </a>
    </div>
</section>
--->

<section class='jumbotron'>
    <div class="row text-center">
        <a href="/">
            <h1>Hermes</h1>
            <small>
                Powered by
                <h1>Lyft</h1>
            </small>
        </a>
    </div>
</section>
<div class='container'>
    <div class="row" id="circle_button">
        <div class="col-sm-4">
            <a href='etarequest'>
                <div class="span3">
                    <p>Get pickup ETA</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href='${authorization_url}'>
                <div class="span3">
                    <p>Request a Lyft</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href='costrequest'>
                <div class="span3">
                    <p>Get cost estimate</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <footer class="footer">
        <a href="https://www.lyft.com/">
            <img src="lyft_64px.png">
        </a>
    </footer>
</div>
</body>
</html>
