<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Voice your Lyft</title>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/stylesheet.css'>
</head>
<body>
<!--- Can't change background color and centerize it
<section class='jumbotron' background-color = #FF69B4>
    <div class='container'>
        <a href='/'>
            <h1>Hermes <small>for Lyft</small></h1>
        </a>
    </div>
</section>
--->

<section class='jumbotron'>
    <div class="row text-center">
        <h1>Hermes</h1>
        <h1>Powered by
            <small> Lyft</small>
        </h1>

    </div>

</section>
<div class='container'>
    <div class="row" id="circle_button">
        <div class="col-sm-4">
            <div class="span3">
                <a href='etarequest'>Get pickup ETA</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="span3">
                <a href='${authorization_url}'>Request a Lyft</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="span3">
                <a href='costrequest'>Get cost estimate</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
